html,body{
height: 100%;
}
#inicial{
    background-image: url(imagens/fundo.jpg);
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    opacity:rgba(0,0,0,3);
    filter: brightness(95%);
    
}
.card{
    opacity:0.2;
}
.card:hover{
    opacity:0.9;

}
h5{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}
#naomuda{
    filter: brightness();
}
#cordaempresa{
    background-color:rgb(8, 0, 128) ;
    color:rgb(8, 0, 128);
}
#cordaempresahover{
    border:1px solid blue;
}
#cordaempresahover:hover{
    background-color:blue;
    
}
.nomemae{
 color: blue;
}
.links-navbar{
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    text-decoration: none;
}
.escurecer-fundo-modal{
    background-color: black;
}