
.nav-link{
    color: #337ab6;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    font-size: larger;
   
}

.dropdown-menu {
    right: 0;
    left: initial;
}


.btn-blue {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.bor {
    border-bottom: 1px solid !important; 
    background-color: #337ab6;

    
}

/* término estilização menu header */

.row {
    padding-top: 35px;
}


/* cor de todo body */
.colorb {
    background-color: #f3f3f3;
}

/* fim de cor de todo body */

.first{
    width: 100%;
}


/* --- formatacao de todos textos ---*/

.subtitle {
    font-family: poppins;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 1;
    color: #303669;
}

.header-subtitle {
    font-family: 'poppins';
    font-size: 27px;
    font-weight: 400;
    line-height: 1.5;

}

.services-text {
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* -- termino formatacao todos textos *---/

/*------ cards -------*/

.strategy-container {
    position: relative;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.strategy-card-section {
    margin-top: 40px;
    margin-bottom: 40px;
}


.strategy-card {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {

    text-align: center;

}

.strategy-card img {
    height: 80px;
}

.strategy-card h2 {
    font-family: 'Montserrat', sans-serif;
    color: #303669;
    font-weight: 700;
    font-size: 15px;
    line-height: 5;
}


.strategy-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    font-family: 'Poppins';
    font-weight: 300;
    max-width: 300px;
}



/*--- end cards ------*/

/*----- BOTOES  -------*/




.learn-more-btn-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.learn-more-btn {
    background-color: #ff3e81;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
    padding: 12px 40px !important;
    border-radius: 100px;
}

.learn-more-btn:hover {

    background-color: #3a88ec !important;
    color: #fff;
    text-decoration: none;

}

.enquire {

    background-color: #3a88ec;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
    padding: 12px 40px !important;
    border-radius: 100px;

}

.enquire:hover {

    background-color: #ff3e81 !important;
    color: #fff;
    text-decoration: none;


}


/* ------ END BOTOES -------- */





/*-----  pricing e pricing title -----*/

.pricing-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
}

.pricing-title h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 45px;
    line-height: 1;
    color: #303669;
    margin-bottom: 20px;
}


.pricing-title p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 700px;

}

.middle {

    padding-top: 10px;
}

.pricing-card:hover {
    box-shadow: 0 4px 47px rgba(0, 0, 0, .15);
    cursor: pointer;
}

/*---- end pricing e princing title ----*/
/*--- pricing cards ------*/


.pricing-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 40px 55px;
    border-radius: 50px;
    text-align: center;
}

.pricing-rate {
    color: #303669;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 59px;
    line-height: 1;
}

.pricing-period {
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #78c2ff;
}

.pricing-text {
    font-size: 18px;
    font-family: Poppins;
    font-weight: 300;
    color: #000;
    margin-top: 20px;
}

.pricing-all-plan-features-section {
    text-align: left;
    width: 100%;
    display: flex;
    margin: 15px 0;
}



.pricing-plan-cards-section {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.pricing-all-plan-features-section {
    text-align: left;
    width: 100%;
    display: flex;
    margin: 15px 0;
}


.pricing-all-plan-features-section ul {
    list-style: none;
    padding-left: 20px;
}

.basic-plan-features-section li:nth-child(3) {
    background: url(../vitor/imagens/false.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 35px;
}

.basic-plan-features-section li:nth-child(4) {
    background: url(../vitor/imagens/false.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 35px;
}


.pricing-all-plan-features-section li {
    font-size: 14px;
    color: #000;
    font-family: Poppins;
    font-weight: 300;
    line-height: 2;
    background: url(../vitor/imagens/ok.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 35px;
    text-align: left;
    margin-top: 5px;
}

.pricing-all-plan-features-section {
    text-align: left;
    width: 100%;
    display: flex;
    margin: 15px 0;
}

.featured .pricing-rate:before {
    content: "Popular";
    display: block;
    width: 95px;
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto 15px;
    border-radius: 100px;
    text-transform: uppercase;
    color: #fff;
    background-color: #78c2ff;
    padding: 10px 15px;
}

.medium-plan-features-section li:nth-child(4) {
    background: url(../vitor/imagens/false.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding-left: 35px;
}

.pricing-card-section {
    padding: 20px;
}

.pricing-card-section {
    padding: 20px;
}

.featured {
    border: 7px dashed #78c2ff;
}


/* --- end pricing cards ---*/


/* -- inicio div carousel --*/


.clients-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

.clients-subtitle {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 2;
}

.clients-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 1;
    color: #303669;
    margin-bottom: 20px;
}



/* ---- ACORDIONS BOTOES ------ */


.accordion {
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
    background-color: #3a88ec;
    border-radius: 50px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    
    

}

.accordion.active:after {
    content: "\2212";
    
}




.panel {
    padding: 0 15px;
    display: none;
    background-color: transparent;
    overflow: hidden;
    font-family: poppins;
    padding-top: 20px;
    outline: none;

}

.panel p {
    color: #a5a5a5;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.accordion:after {
    content: '\002B';
    font-size: 24px;
    color: #777;
    font-weight: 700;
    float: right;
    margin-left: 5px;

}

.active{
    outline: none;
}

.services-accordion .accordion::after {
    color: #fff !important;
    outline: none;


}

/* ----- Fim acordion ----*/

/* --- cards before footer --*/

.blog-post-card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    padding: 55px 40px;
}

.blog-post-title {
    font-size: 20px;
    color: #303669;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 2;

}

.blog-post-text {
    font-size: 14px;
    color: #000;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.blog-post-link:hover{
    color: rgb(250, 73, 73);
    text-decoration: none;
}

.blog-post-text a:link{

    text-decoration: none;
}


.blog-post-link {
    color: #a4c4f3;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
    


}


.blog-post-subtitle {
    font-size: 18px;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    margin-bottom: 10px;
}


/* -- contato --*/


.contact-subtitle {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 2;
}


.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 1;
    color: #303669;
    margin-bottom: 20px;
}

.contact-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
}







/* ---- Footer ---*/

.page-footer {
    background-color: #475156;

}

.columns a {
    color: #aaa;
    padding-left: 10px;
    border-left: 2px dotted #222;
    
}

.columns a:link {
    text-decoration: none;
}

.columns a:hover{
    color:white

}

.bar-bottom {
    border-top: 1px solid #6c757c;
}

/* --- fim footer ---*/



/* redes sociais */
.redes {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 20px;
    line-height: 20px;
    color: #829199;
}

.redes span {
    font-size: 27px;
    line-height: 35px;
}


.img-f {
    max-width: 100%;
    height: auto;
    padding-top: 19px;
}




/* status do sistema: verde  */
.green-dot {
    position: relative;
    padding-left: 20px;
}

.green-dot:before {
    content: '\2022';
    font-size: 50px;
    position: absolute;
    top: -32px;
    left: 0;
    color: #047C05;
    padding-bottom: 0px;
}